</head>
<body>
     <div id="app">
        <form @submit.prevent="submitform()" >
            <label>Title : </label>
            <input type="text" name="title" ref="title" v-model="title">
            <label>Description : </label>
            <textarea name="descrition" ref="description" v-model="description"></textarea>    
            <input type="submit" value="SUBMIT">
        </form>

     </div>
     <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
     <script>
          var vn =new Vue({
              el: '#app',
              data: {
                title : '',
                description :''
              },  
              methods: {
               submitform : function(){
                   let error = 0

                   if(this.title.length <5){
                       error++
                        this.$refs.title.focus()
                       alert('title minimal 5 karakter')

                   }else if(this.description.length >10){
                       error++
                       this.$refs.description.focus()
                       alert('Deskription tidak boleh lebih dari 200 karakter')
                   }
                   if(error === 0){
                       alert('Terima kasih anda telah mengisi data dengan benar')
                   }
               }   
              }
          }) 
     </script>
    </body>
